<div class="stage">
  {{#each stageObjects as |obj|}}
    <div class="obj" style={{obj.cssBaseStylesString}} {{action 'selectTimelineObject' obj}}></div>
  {{/each}}
</div>

<div class="toolbar">
  {{#if selectedObject}}
    <div class="toolbar-section dark-grey-bg">
      <label>{{selectedObject.name}}</label>
    </div>
    <div class="field-group toolbar-section">
      <label>Position</label>
      {{text-input-pixels keypressAction=(action 'rewriteStyles') value=selectedObject.baseStyles.left label="X"}}
      {{text-input-pixels keypressAction=(action 'rewriteStyles') value=selectedObject.baseStyles.top label="Y"}}
      <br/>
      {{text-input-pixels keypressAction=(action 'rewriteStyles') value=selectedObject.baseStyles.width label="W"}}
      {{text-input-pixels keypressAction=(action 'rewriteStyles') value=selectedObject.baseStyles.height label="H"}}
    </div>
    <div class="field-group toolbar-section">
      <label>Background</label>
      {{text-input-color keypressAction=(action 'rewriteStyles') value=selectedObject.baseStyles.background}}
      {{text-input-percent keypressAction=(action 'rewriteStyles') value=selectedObject.baseStyles.opacity}}
    </div>
    <div class="field-group toolbar-section">
      <label>Border</label>
      {{select-dropdown options=borderOptions value=selectedObject.baseStyles.borderStyle}}
      <br/>
      {{text-input-color keypressAction=(action 'rewriteStyles') value=selectedObject.baseStyles.borderColor}}
      {{text-input-pixels keypressAction=(action 'rewriteStyles') value=selectedObject.baseStyles.borderWidth}}
    </div>
  {{/if}}
</div>

<div class="timeline">
  <div class="timeline-control-bar">
    <button {{action 'addObj'}}>+ Add Object</button>
  </div>
  <div class="object-list">
    {{#each stageObjects as |obj|}}
      <div class="timeline-object {{if (eq selectedObject obj) 'is-selected'}}">
        <span class="obj-info" {{action 'selectTimelineObject' obj}}><span class="obj-color" style="background-color: #{{obj.baseStyles.background}}"></span>{{obj.name}}</span>
      </div>
    {{/each}}
  </div>

</div>