<style>
  {{#each stageObjects as |obj|}}
    {{obj.cssKeyframesString}}
  {{/each}}
</style>

<div class="stage" id="stage">
  <div class="stage-bg" {{action 'deselectAllObjects'}}></div>
  {{#each stageObjects as |obj|}}
    {{#if (eq selectedObject obj)}}
      {{#if selectedKeyframe}}
        {{!--<div class="obj {{if (eq selectedObject obj) 'is-selected'}}" style="{{selectedKeyframe.cssString}}" {{action 'selectTimelineObject' obj}}></div>--}}
        {{stage-object className=(if (eq selectedObject obj) 'is-selected') styleString=selectedKeyframe.cssString selectAction=(action 'selectTimelineObject') obj=obj rewrite=(action 'rewriteStyles')}}
      {{else}}
        {{!--<div class="obj {{if (eq selectedObject obj) 'is-selected'}}" style="{{obj.cssBaseStylesString}}" {{action 'selectTimelineObject' obj}}></div>--}}
        {{stage-object className=(if (eq selectedObject obj) 'is-selected') styleString=obj.cssBaseStylesString selectAction=(action 'selectTimelineObject') obj=obj rewrite=(action 'rewriteStyles')}}
      {{/if}}
    {{else}}
      <div class="obj {{if (eq selectedObject obj) 'is-selected'}}" style="animation:{{if playAnimation obj.domId 'none'}};animation-duration:{{animationDuration}}s;animation-iteration-count:{{animationIteration}};{{obj.cssBaseStylesString}}" {{action 'selectTimelineObject' obj}}></div>
      {{stage-object className=(if (eq selectedObject obj) 'is-selected') styleString=obj.cssBaseStylesString selectAction=(action 'selectTimelineObject') obj=obj}}
    {{/if}}
  {{/each}}

  <div class="obj" id="object" style="background: black; display: inline-block; width: 40px; height: 40px;"></div>
</div>

{{#if selectedKeyframe}}
  {{object-inspector selectedKeyframe=selectedKeyframe selectedObject=selectedObject styles=selectedKeyframe.styles rewriteStyles=(action 'rewriteStyles') removeObject=(action 'removeObject') removeKeyframe=(action 'removeKeyframe')}}
{{else}}
  {{object-inspector selectedKeyframe=false selectedObject=selectedObject styles=selectedObject.baseStyles rewriteStyles=(action 'rewriteStyles') removeObject=(action 'removeObject') removeKeyframe=(action 'removeKeyframe')}}
{{/if}}

<div class="timeline">
  <div class="timeline-controls-sidebar">
    {{#if playAnimation}}
      <button class="stop" {{action 'stopAnimation'}}></button>
    {{else}}
      <button class="play" {{action 'playAnimation'}}></button>
    {{/if}}
    <!--<button class="secondary loop is-active">-->
      <!--<img src="/img/loop-icon.svg"/>-->
    <!--</button>-->
    {{text-input-seconds value=animationDuration}}
  </div>
  <div class="timeline-control-bar">
    <div class="timeline-controls">
      <button {{action 'addObj'}}>+ Add Object</button>
    </div>
    <div class="timeline-percent-row">
      {{#if playAnimation}}
        <div class="play-indicator" style="animation-duration:{{animationDuration}}s;"></div>
      {{/if}}
      <span>0%</span>
      <span>5%</span>
      <span>10%</span>
      <span>15%</span>
      <span>20%</span>
      <span>25%</span>
      <span>30%</span>
      <span>35%</span>
      <span>40%</span>
      <span>45%</span>
      <span>50%</span>
      <span>55%</span>
      <span>60%</span>
      <span>65%</span>
      <span>70%</span>
      <span>75%</span>
      <span>80%</span>
      <span>85%</span>
      <span>90%</span>
      <span>95%</span>
      <span>100%</span>
    </div>
  </div>
  <div class="object-list">
    {{#each stageObjects as |obj|}}
      <div class="timeline-object {{if (eq selectedObject obj) 'is-selected'}}">
        <span class="obj-info" {{action 'selectTimelineObject' obj}}>
          <span class="obj-color" style="background-color: #{{obj.baseStyles.background}}"></span>
          <span class="obj-name">{{obj.name}}</span>
        </span>
        <span class="obj-timeline">
          {{#each obj.keyframes as |keyframe|}}
            <span><div class="keyframe {{if keyframe.active 'is-active'}} {{if (eq selectedKeyframe keyframe) 'is-selected'}}" {{action 'selectKeyframeObject' keyframe obj}}></div></span>
          {{/each}}
        </span>
      </div>
    {{/each}}
  </div>

</div>