<div class="toolbar">
  <div class="toolbar-section dark-grey-bg">
    <label>Object 1</label>
  </div>
  <div class="field-group toolbar-section">
    <label>Position</label>
    {{text-input-pixels label="X"}}
    {{text-input-pixels label="Y"}}
    <br/>
    {{text-input-pixels label="W"}}
    {{text-input-pixels label="H"}}
  </div>
  <div class="field-group toolbar-section">
    <label>Background</label>
    {{text-input-color}}
    {{text-input-percent}}
  </div>
  <div class="field-group toolbar-section">
    <label>Border</label>
    {{text-input-color}}
    {{text-input-percent}}
    <br/>
    {{select-dropdown}}
    {{text-input-pixels}}
  </div>
</div>